/.config/JetBrains
/.config/QQ
/.config/weixin
/.config/bilibili
/.config/gtk-3.0
/.config/microsoft-edge
/.bg/*

/.config/akregatorrc
/.config/arkrc
/.config/baloofileinformationrc
/.config/baloofilerc
/.config/bluedevilglobalrc
/.config/btop
/.config/cef_user_data
/.config/clash
/.config/dconf
/.config/deepin
/.config/dolphinrc
/.config/fcitx
/.config/fcitx5
/.config/fish
/.config/go
/.config/gtk-3.0
/.config/gtk-4.0
/.config/gtkrc
/.config/gtkrc-2.0
/.config/gwenviewrc
/.config/htop
/.config/Hyper
/.config/ibus
/.config/kactivitymanagerdrc
/.config/kate
/.config/katemetainfos
/.config/katerc
/.config/kateschemarc
/.config/katevirc
/.config/kcminputrc
/.config/kconf_updaterc
/.config/KDE
/.config/kdeconnect
/.config/kded5rc
/.config/kdedefaults
/.config/kdeglobals
/.config/kdenlive-layoutsrc
/.config/kdenliverc
/.config/kde.org
/.config/kglobalshortcutsrc
/.config/khotkeysrc
/.config/kmixrc
/.config/knfsshare
/.config/konsolerc
/.config/konsolesshconfig
/.config/krunnerrc
/.config/kscreenlockerrc
/.config/ksmserverrc
/.config/ktimezonedrc
/.config/kwalletrc
/.config/kwinrc
/.config/kwinrulesrc
/.config/kwritemetainfos
/.config/kwriterc
/.config/kxkbrc
/.config/libaccounts-glib
/.config/manjaro
/.config/microsoft-edge
/.config/mimeapps.list
/.config/mpDris2
/.config/mpv
/.config/navicat
/.config/ncmpcpp
/.config/obs-studio
/.config/okularpartrc
/.config/partitionmanagerrc
/.config/pavucontrol.ini
/.config/plasma-localerc
/.config/plasma-nm
/.config/plasma-org.kde.plasma.desktop-appletsrc
/.config/plasmashellrc
/.config/powerdevilrc
/.config/powermanagementprofilesrc
/.config/procps
/.config/pulse
/.config/QQ
/.config/QtProject.conf
/.config/qtvirtualkeyboard
/.config/session
/.config/spectaclerc
/.config/systemd
/.config/systemsettingsrc
/.config/tmux
/.config/trashrc
/.config/Trolltech.conf
/.config/Typora
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/wpg
/.config/xsettingsd
/.config/yay
